[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Visual Studio cache
.vs/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Unity meta
*.unityproj

# Rider
.idea/
*.sln.iml


# Ignore large package archives
**/*.tgz
**/*.tar
**/*.tar.gz

# Ignorar paquetes locales de Vuforia (evitar >100MB en GitHub)
**/Packages/com.ptc.vuforia.engine-*.tgz
